@model hafta_8_emlak_b.Models.Emlak.Emlak
@{
    ViewData["Title"] = "Ekle";
}

<h3 class="text-center text-danger">Yeni Emlak Bilgilerini Giriniz</h3>

<form asp-controller="Emlak" asp-action="Ekle" method="post" class="p-2">
    <div class="m-2">
        <label>Emlak Adını Giriniz:</label>
        <input class="form-control" asp-for="EmlakAdi"/>
    </div>

    <div class="m-2">
        <label>Emlak Fiyatını Giriniz</label>
        <input class="form-control" asp-for="Fiyat"/>
    </div>

    <div class="m-2">
        <label>Emlak Kategorisini Seçiniz</label>
        <select class="form-control" asp-for="KatId" asp-items="@(new SelectList(ViewBag.Kategoriler, "KatId", "KatAdi"))"></select>
    </div>

    <div class="m-2">
        <label>İl Seçiniz</label>
        <select class="form-control" id="sehir" onchange="getIlceler()" asp-items="@(new SelectList(ViewBag.Sehirler, "Plaka", "SehirAdi"))"></select>
    </div>

    <div class="m-2">
        <label>İlçe Seçiniz</label>
        <select class="form-control" id="ilce" asp-for="ilceId">
            <option value="">İlçe Seçiniz</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Yeni Emlak Kaydet</button>
</form>