@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5">
    <h1>Otomasyon Sistemleri</h1>
</div>

<div class="m-3">
    <a class="btn btn-dark" asp-controller="Emlak" asp-action="Index" asp-area="">Emlak</a>
    <a class="btn btn-dark" asp-controller="Otomotiv" asp-action="Index" asp-area="">Otomotiv</a>
    <a class="btn btn-dark" asp-controller="IkinciEl" asp-action="Index" asp-area="">İkinci El</a>
    <a class="btn btn-dark" asp-controller="Elektronik" asp-action="Index" asp-area="">Elektronik</a>
    <a class="btn btn-dark" asp-controller="SporSalonu" asp-action="Index" asp-area="">Spor Salonu</a>
    <a class="btn btn-dark" asp-controller="Kurs" asp-action="Index" asp-area="">Sürücü Kursu</a>
</div>

<img src="https://cdn.discordapp.com/attachments/1197204220282163404/1242569579188846632/angrykedo.jpg?ex=664e5099&is=664cff19&hm=6bca67902a21ba4ba788636473bad727e3a1ae51c99504819470d35a58224962&" width="1300" height="630" />