@{
    ViewData["Title"] = "Ekle";
}

<a class="btn btn-danger" asp-controller="Elektronik" asp-action="TelefonEkle" asp-area="">Telefon</a>

<a class="btn btn-danger" asp-controller="Elektronik" asp-action="KulaklikEkle" asp-area="">Kulaklik</a>