@model IEnumerable<hafta_8_emlak_b.Models.Elektronik.Telefon>

@{
    ViewData["Title"] = "Elektronik";
}
<h4 class="text-black">Elektronikler</h4>
<a class="btn btn-danger" asp-controller="Elektronik" asp-action="Telefonlar" asp-area="">Telefonlar</a>
<a class="btn btn-danger" asp-controller="Elektronik" asp-action="Kulakliklar" asp-area="">Kulaklıklar</a>